{% extends 'mainpage/main.html.twig' %}
{% block content %}
    <div class="container-fluid container_new_post mt-5">

        <h1 class="mb-5">Add new Post</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-dark mt-3">Add Post</button>
        {{ form_end(form) }}
    </div>
    <script>
        document.querySelector("#post_form_name").className += "btn btn-secondary";
    </script>
{% endblock %}
