{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    {% for post in posts %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Show</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
