{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
    <h1 class="mb-5">Messenger</h1>
    <div class="row">

    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item" style="text-align:center"><h1>Users</h1></li>
            {% for users in users %}
                <li class="list-group-item">{{users.login}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-8" style="border:1px solid rgba(0,0,0,.125); border-radius:5px; height: 70vh;">
    
   {# {% for conversation in conversation %}
    
    

    {% endfor %}#}

    </div>
    </div>
    </div>
{% endblock %}
