{% extends 'mainpage/main.html.twig' %}
{% block content %}
    <style>
        .container-fluid {
            background: white;
            padding: 30px;
            border: 1px solid lightgray;
            border-top: 3px solid gray;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    </style>
    <div class="container-fluid mt-5">
        <h1>Create new user</h1>
        {{ form_start(registrationForm, {'start_attr': {'class': 'mt-3'}}) }}
        {{ form_row(registrationForm.login, {'row_attr': {'class': 'mt-2'}}) }}
        <div class="mt-2 mb-2" style="font-weight: bold;">
            E-mail:
        </div>
            <input class="form-control" type="email"
                   maxlength="50" name="email" required>
        <div class="mt-2">{{ form_row(registrationForm.plainPassword) }}</div>
        <div class="mt-2 mb-2" style="font-weight: bold;">Role:</div>
        <select class="browser-default custom-select" name="roles" required>
            <option value="ROLE_ADMIN" selected>Admin</option>
            <option value="ROLE_USER">User</option>
        </select>
        <button class="btn btn-dark mt-3">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
