*{
    overflow: hidden;
}

.main-footer{
    height: 40px;
    position:fixed;
    width: 100%;
    bottom: 0;
    text-align: left;
    padding: 8px;
}
.logout-button{
    position:absolute; 
    right: 40px; 
    font-size: 25px; 
    color: black; 
    margin: auto;
    transition: font-size 0.5s;
}
.logout-button:hover{
    font-size: 30px;
    font-weight: bold;
    color: red; 
}