*{
    /*overflow: hidden;*/
}

/*Browse*/
.main-footer{
    height: 40px;
    position:fixed;
    width: 100%;
    bottom: 0;
    text-align: left;
    padding: 8px;
}
.logout-button{
    position:absolute; 
    right: 40px; 
    font-size: 25px; 
    color: black; 
    margin: auto;
    transition: font-size 0.5s;
}
.logout-button:hover{
    font-size: 30px;
    font-weight: bold;
    color: red; 
}
.form_new_quest {
       background: white;
       padding: 30px;
       border: 1px solid lightgray;
       border-top: 3px solid gray;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
}
.modal-backdrop{
    display:none;
    z-index: -1;

}
tr th:first-child {
    text-align: left;
}
tr td:first-child {
    text-align: left;
}
.delete_post {
    color: red;
    transition: all 0.5s;
}
.delete_post:hover {
    color: white;
}
.send_post {
    color: blue;
    transition: all 0.5s;
}
.delete_post:send {
    color: white;
}
.loader {
    display: none;
    position: absolute;
    top:43%;
    left:50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 19999992;
}
 .loader_show {
    display: block;
    position: absolute;
    top:43%;
    left:50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 19999992;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Show post*/
.post_show {
    background: white;
    padding: 30px;
    border: 1px solid lightgray;
    border-top: 3px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    word-wrap: break-word;
}
.show_image{
    display:inline-block;
    position: relative;
    width: 60%;
}
.show_image img{
    transition: all 0.2s;
    width: 100%;
    border-radius: 5px;
    border: 2px solid gray;
    margin-bottom: 30px;
}
.zoom{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    transition: all 0.4s;
    max-width: 100%;
    transform: translate(-50%, -50%);
}
.show_image img:hover{
    filter: blur(5px);
    cursor: pointer;
}
.show_image img:hover ~.zoom{
    opacity: 1;
    font-size: 45px;
    color: red;
}
.zoom{
    pointer-events: none;
}
/*Facebook*/
.form_edit_facebook {
    background: white;
    padding: 30px;
    border: 1px solid lightgray;
    border-top: 3px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}
/*Account data*/
.form_edit_user {
    background: white;
    padding: 30px;
    border: 1px solid lightgray;
    border-top: 3px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}
/*Create user*/
.form_new_user{
    background: white; padding: 30px; 
    border: 1px solid lightgray; 
    border-top: 3px solid gray; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
/*Edit post*/
.form_edit_post {
    background: white;
    padding: 30px;
    border: 1px solid lightgray;
    border-top: 3px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*New post*/
.container_new_post {
    background: white;
    padding: 30px;
    border: 1px solid lightgray;
    border-top: 3px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*Chat*/
.newMessage {
    background: gray;
    width: 60%;
    margin: 15px 15px;
    color: white;
    /*background: #00cc00;*/
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: bold;
}

.oldMessage {
    width: 60%;
    margin: 15px 15px;
    color: white;
    background: #00b300;
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: bold;
    margin-left: 37%;
}