{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form action="/quest/new" method="post">
            Content:<input type="textarea">
            Status:<input type="text">
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}