{% extends('mainpage/main.html.twig') %}
{% block content %}
    <style>
        .newMessage {
            background: gray;
            width: 60%;
            margin: 15px 15px;
            color: white;
            /*background: #00cc00;*/
            padding: 10px;
            border-radius: 5px;
            min-height: 40px;
            word-wrap: break-word;
            font-size: 18px;
            font-weight: bold;
        }
        .oldMessage{
            width: 60%;
            margin: 15px 15px;
            color: white;
            background: #00b300;
            padding: 10px;
            border-radius: 5px;
            min-height: 40px;
            word-wrap: break-word;
            font-size: 18px;
            font-weight: bold;
            margin-left: 37%;
        }
    </style>
    <div class="container-fluid mt-5">
        <div class="row" style="min-height: 550px; max-height: 550px;">
            <div class="col-3 ml-3" style="border: 1px solid lightgray; height: 100%; padding: 0; background: white; min-height: 550px; max-height: 550px;">
                <div class="mt-2 mb-2" style="text-align:center;">
                    <h3>Messages</h3>
                </div>
                <div class="users" style="overflow-y: scroll; overflow-y: scroll;min-height:450px; max-height: 450px;">
                {% for user in users %}
                    <div class="row" style="border-top: 1px solid lightgray; height: 100%; padding: 5px;">
                        <div div="col-4" style="padding-top: 10px; padding-bottom: 10px;">
                            <img class="ml-3" style="height: 30px; width: auto; border-radius:50%;" src="{{asset('images/user2.png')}}">
                        </div>
                        <div class="col-8 ml-2" style="padding-top: 10px; padding-bottom: 10px;">
                            <h5>{{ user.email }}</h5>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-8 ml-5" style="border: 1px solid lightgray; padding: 0; background: white;">
                <div style="border-bottom: 1px solid gray;">
                    <div class="mt-2 mb-2" style="text-align:center;">
                        <h3>Conversation</h3>
                    </div>
                </div>
                <div class="interceptedMessages" style="overflow-y: scroll;min-height:450px; max-height: 450px;">
                    <div class="oldMessage">gjthogireghoirhegoirheoig</div>
                    <div class="oldMessage">gjthogireghoirhegoirheoiggjthogireghoirhegoirheoig</div>
                    <div class="oldMessage">gjthogireghoirhegoirheoiggjthogireghoirhegoirheoiggjthogireghoirhegoirheoiggjthogireghoirhegoirheoiggjthogireghoirhegoirheoig</div>
                </div>
                <div style="border-top: 1px solid lightgray;">
                {#<form action="{{ path('send_message', {topic: topic}) }}" method="POST">#}
                    <input style="width: 80%; border: none; padding-left: 15px;" type="text" class="messageInput" name="Content" required>
                    <button onclick="sendMessage()" style="width: 19.6%; border-radius:0px;" class="btn btn-secondary button_send">Send</button>
                {#</form>#}
                </div>
            </div>
        </div>
    </div>
    <script>
        const url = new URL('http://localhost:8080/hub');
        url.searchParams.append('topic', '1e9');
        const eventSource = new EventSource(url)
        eventSource.onmessage = e => {
            $interceptedMessage = e.data;
            document.querySelector(".interceptedMessages").insertAdjacentHTML('beforeend', "<div class=" + "newMessage" + ">" + $interceptedMessage + "</div>")
        }
        function sendMessage(){
           let message = document.querySelector(".messageInput").value;
           document.querySelector(".messageInput").value='';          
           $.ajax({
               url: "message/send/1e9",
               method: "POST",
               data: {Content: message},
               });
        }
    </script>
{% endblock %}
