{% extends('mainpage/main.html.twig') %}
{% block content %}
    <h1>Chat example</h1>
    <form action="{{ path('publisher', {topic: topic}) }}" method="POST">
        <input type="text" name="Content" required>
        <button class="btn btn-secondary">Ping!</button>
    </form>

    <div class="interceptedMessages"></div>

    <script>
        const url = new URL('http://localhost:8080/hub');
        url.searchParams.append('topic', '1e9');
        const eventSource = new EventSource(url)
        eventSource.onmessage = e => {
            $interceptedMessage = e.data;
            document.querySelector(".interceptedMessages").insertAdjacentHTML('beforeend', "<div>"+ $interceptedMessage+"</div>")
        }
    </script>
{% endblock %}
