<div class="container-fluid form_new_user mt-5"
     style="">

    <h1 class="mb-5">Add new User</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark mt-3">Add Post</button>
    {{ form_end(form) }}
</div>