{% extends 'mainpage/main.html.twig' %}
{% block content %}
    <h1 style="margin: 25px;">Users list</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">login</th>
            <th scope="col">e-mail</th>
            <th scope="col">Role</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th>{{ user.id }}</th>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                {% if user.roles[0] == "ROLE_ADMIN" %}
                    <td>Admin</td>
                {% elseif user.roles[0] == "ROLE_USER" %}
                    <td>User</td>
                {% endif %}
                <td><a class="btn btn-danger" href="{{ path('delete_user', {id: user.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}