{% block footer %}
    <footer class="main-footer" style="position:absolute; width: 100%; ">
        <div class="float-right d-none d-sm-inline" style="position:sticky; right: 40px;">
            NetMarketing.com
        </div>
    </footer>
{% endblock %}