<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <!-- Assets -->
        {% include 'mainpage/assets.html.twig' %}
        <!-- Assets -->

    </head>


    {% block body %}


        <body class="hold-transition sidebar-mini">
            <div
                class="wrapper">

                <!-- Navbar -->
                <nav
                    class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
                    <!-- Left navbar links -->


                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" style="background-color:white">
                                <i class="fa fa-bars">
                                    <div id="powitanie">
                                        Witaj,
                                        {#{{name}}!#}
                                    </div>
                                </i>
                            </a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block"></li>

                    </ul>


                    <!-- Right navbar links -->
                    <ul
                        class="navbar-nav ml-auto">
                        <!-- Messages Dropdown Menu -->

                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a class="dropdown-item" href="#">
                                <!-- Message Start -->

                                <!-- Notifications Dropdown Menu --><li class="nav-item"> </li>
                            </ul>
                        </nav>
                        <!-- /.navbar -->

                      
                        

                            <!-- Sidebar -->

                            {% include 'mainpage/sidebar.html.twig' %}

                            <!-- Sidebar -->

                        </aside>

                        <!-- Content -->
                        {% include 'mainpage/content.html.twig' %}
                        <!-- Content -->


                        <!-- Footer -->
                    {% include 'mainpage/footer.html.twig'%}
                        <!-- Footer -->

                    </div>


                {% endblock %}


                {% block javascripts %}

                <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
                <script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
                <script src="{{ asset('css/dist/js/adminlte.min.js') }}"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

                <script>


                    {% endblock %}
</body>
</html>
