{% block navbar %}
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link close" data-widget="pushmenu" href="#" style="background-color:white">
                    <i class="fa fa-bars">
                    </i>
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block"></li>
        </ul>
        {% if app.request.locale == 'pl_PL' %}
            <a id="en" href="#" class="" onclick="changeLanguage(this.id)"><i
                        style="position: absolute; right: 100px; top: 10px; font-size: 20px; color: black; margin: auto;">🇺🇸</i></a>
        {% elseif app.request.locale == 'en' %}
            <a id="pl_PL" href="#" class="" onclick="changeLanguage(this.id)"><i
                        style="position: absolute; right: 100px; top: 10px; font-size: 20px; color: black; margin: auto;">🇵🇱</i></a>
        {% endif %}
        <a href="/logout" class="logout-button"> <i class="fas fa-sign-out-alt"></i></a>
    </nav>
    <script>
        function changeLanguage(clicked_id) {
            let url = '{{ path('change_lang', {lang: 'clicked_id'}) }}';
            url = url.replace("clicked_id", clicked_id);
            $.ajax({
                url: url,
            });
            location.reload();
        }
    </script>
{% endblock %}
