{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a class="brand-link" href="#">
            <i class="fab fa-facebook-square" style="margin-left: 19px; size:3x"></i>
            <span class="brand-text font-weight-light" style="margin-left: 5px;">NetMarketing.com
            </span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                    <li class="nav-item has-treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-edit"></i>
                            <p>
                                Posty
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item nav-link show lista show_all_posts">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Przeglądaj</p>
                                </a>
                            </li>
                            <li class="nav-item nav-link dodaj lista add_new_post">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Dodaj</p>
                                </a>
                            </li>
                            <li class="nav-item archive lista show_archive">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Archiwum</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="fas fa-users"></i>
                            <p style="margin-left:7px;">
                                Zarządzanie kontami
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item lista">
                                <a class="nav-link edytuj_tokeny" href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Edytuj tokeny</p>
                                </a>
                            </li>
                            <li class="nav-item lista ">
                                <a class="nav-link zmien_dane_kont" href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Zmień dane</p>
                                </a>
                            </li>
                            <li class="nav-item lista">
                                <a class="nav-link  usun_konto" href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Usuń konto</p>
                                </a>
                            </li>
                            <li class="nav-item lista">
                                <a class="nav-link new_konto" href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Stwórz konto</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="far fa-comments"></i>
                            <p>
                                Wiadomości
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item nav-link show lista  ">
                                <a class="messenger" href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Messenger</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="fas fa-briefcase"></i>
                            <p>
                                Zadania
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item nav-link show lista dodawanie_zadania">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Dodaj zadanie</p>
                                </a>
                            </li>
                            <li class="nav-item nav-link show lista przegladaj_zadania">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Przeglądaj</p>
                                </a>
                            </li>
                            <li class="nav-item nav-link show lista odczytaj_zadania">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Odczytaj</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user-circle"></i>
                            <p>
                                Moje konto
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item nav-link show lista edytuj_token">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Edytuj token</p>
                                </a>
                            </li>

                            <li class="nav-item nav-link show lista zmien_dane">
                                <a href="#">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Zmień dane</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
{% endblock %}
